:root {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.1'/%3E%3C/svg%3E");

    /* Light theme (default) */
    --background-color: #fffdea;
    --background-color-darker: #f7f1d7;
    --background-color-lighter: #fffdf4;
    --text-color: #292524;
    --heading-color: #292524;
    --subheading-color: #444;
    --muted-color: #777;
    --border-color: rgba(0, 0, 0, 0.1);
    --link-color: #747bff;
    --link-hover-color: #535bf2;
    --title-color: #000;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    --sl-spacing-large: 1rem;
    --sl-border-radius-medium: 0.25rem;
}

/* Dark theme */
[data-theme="dark"] {
    --background-color: #1c1a1e;
    --background-color-darker: rgba(0, 0, 0, 0.2);
    --background-color-lighter: rgba(255, 255, 255, 0.01);
    --text-color: #ffffff;
    --heading-color: #ffffff;
    --subheading-color: #f0f0f0;
    --muted-color: #b0b0b0;
    --border-color: rgba(255, 255, 255, 0.1);
    --link-color: #646cff;
    --link-hover-color: #535bf2;
    --title-color: #cee3e5;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--link-hover-color);
}

body,
a,
h1,
button {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: var(--noise);
    background-size: 250px 250px;
    background-blend-mode: overlay;
    overflow-y: auto;
}
h1 {
    font-size: 1.6em;
    line-height: 1.1;
    color: var(--heading-color);
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
}
#projects {
    display: flex;
    flex-direction: column;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-overview {
    max-width: 100%;
    width: 100%;
    min-width: 250px;
    font-size: 1em;
}

sl-card::part(base) {
    background-color: var(--background-color-darker);
    color: var(--text-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

sl-card::part(base):hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

[data-theme="dark"] sl-card {
    background-color: var(--background-color-darker);
    --border-color: rgba(255, 255, 255, 0.15);
}

[data-theme="light"] sl-card {
    background-color: var(--background-color-darker);
    --border-color: rgba(0, 0, 0, 0.1);
}

.card-overview [slot="header"] {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-overview [slot="header"] sl-icon {
    font-size: var(--sl-font-size-medium);
    font-size: 1.25rem;
}
.about {
    background-color: var(--background-color-lighter);
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--border-color);
}

.about h2 {
    font-size: 1.5em;
    line-height: 1.1;
    color: var(--heading-color);
}

.about p {
    font-size: 1.1em;
    line-height: 1.1;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.2em;
    padding-bottom: 1rem;
}
.socials a {
    color: var(--text-color);
    transition:
        background-color 0.25s,
        color 0.25s;
}
.socials a:hover {
    color: var(--link-color);
}
commit-list {
    width: 100%;
    min-width: 300px; /* Ensures readability on smaller screens */
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--muted-color);
    color: var(--background-color);
    cursor: pointer;
    transition:
        border-color 0.25s,
        background-color 0.25s;
}
button:hover {
    border-color: var(--link-color);
    background-color: var(--link-color);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-color-darker);
    border-bottom: 1px solid var(--border-color);
    background-image: var(--noise);
}

footer {
    width: 100%;
    background-color: var(--background-color-darker);
    border-top: 1px solid var(--border-color);
    background-image: var(--noise);
}

footer p {
    margin: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    #app {
        padding: 10px;
    }
}
